body {
  margin: auto;
  box-sizing: border-box;
  font-family: 'Open Sans', sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
}
p {
  color: #696969;
  font-size: 14px;
  text-align: justify;
}
hr.longline {
  margin-top: 0px;
}
.shortline {
  width: 36px;
  height: 5px;
  background: #404040;
  margin-bottom: 48px;
  border: none;
}
h1,
h2,
h3 {
  font-family: 'Lato', serif;
}
h1 {
  margin-top: 54px;
  margin-bottom: 10px;
  text-align: center;
}
h3 {
  font-size: 20px;
}
.header {
  z-index: 1;
  height: 10vh;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  background: #fff;
  box-shadow: 11px 20px 31px -9px rgba(0,0,0,0.03);
  position: sticky;
  top: 0;
}
.header .header-container {
  height: 100%;
  width: 1024px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.header .header-container img {
  width: 60px;
  height: 60px;
  margin-left: 32px;
  background: #e2e2e2;
  border-radius: 30px;
}
.header .header-container .page-list {
  display: flex;
  list-style: none;
}
.header .header-container .page-list li {
  margin-right: 32px;
}
.header .header-container .page-list li a {
  color: #000;
  font-size: 12px;
  text-transform: uppercase;
  text-decoration: none;
  letter-spacing: 0.5px;
}
.description-box {
  height: 85vh;
  width: 1024px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.description-box .related-photo {
  margin-right: 36px;
  width: 40%;
}
.description-box .description {
  width: 35%;
  margin-left: 36px;
}
.description-box .description h1 {
  margin-bottom: 8px;
  text-align: left;
}
.description-box .description h3 {
  margin-top: 0;
}
.project-list {
  display: grid;
  grid-template-columns: auto auto auto;
  grid-template-rows: auto auto auto;
  list-style: none;
  margin-top: 0px;
}
.project-list a {
  text-decoration: none;
  color: #000;
}
.project-list a .card {
  margin-right: 18px;
  margin-top: 0px;
  margin-bottom: 36px;
  border-radius: 3px;
  border: 1px solid #efefef;
  box-shadow: 11px 20px 31px -9px rgba(0,0,0,0.03);
  transition: all 0.1s;
}
.project-list a .card img {
  width: 100%;
}
.project-list a .card h3 {
  margin: 0 14px;
  margin-top: 6px;
}
.project-list a .card span {
  margin-left: 14px;
  font-size: 12px;
  font-weight: 600;
  color: #6e6e6e;
  letter-spacing: 1px;
  word-spacing: 3px;
}
.project-list a .card p {
  margin: 14px 14px;
  margin-top: 8px;
}
.project-list a .card:hover {
  transform: scale(1.02);
}
.footer {
  width: 100%;
  height: 10vh;
  background: #404040;
}
