extends default.pug

block content
  .page
    h1 About
    hr.line
    
    p Hello, my name is Divyanshu Tiwari, and I am a 4th  (Pre-final) year undergraduate student of Architecture at the Indian Institute of Technology Roorkee, India. I am primarily interested in HCI research in the domain of Tangible interfaces and interaction. I am currently looking for 
      span.bold research internship 
      | opportunities for 2021 summers.

    p For more details about me, please go through the rest of this page and the website. You can also have a look at my 
      a(href=href="../files/DivyanshuTiwari.pdf") resume

    h2 Research Interests
    p My research interests primarily lie in the area of 
      span.bold Human Computer Interaction (HCI) 
      | with a focus on 
      span.bold Tangible Interfaces
      | , 
      span.bold Emergent Interfaces 
      | and 
      span.bold Novel Interaction Techniques
      | . I want to contribute to the future of human-computer interfaces, especially to the area of tangible interfaces. I want to work on ways their highly specific appication area can be bought to more generic ones so that they can provide an experience which is as versatile as that given by VR through its virtual world. 
    
    p I do understand that for this to happen, it will take radical advances in material sciences and is very possibly a goal beyond my own lifetime, but I still feel that it is important for HCI researchers to atleast take the responsibility of directing this progress by developing prototypes that push the boundaries of tangible interaction space so that it may give new ideas to material scientists and others regarding their own research.
 
    h2 Experience
    ul
      li
        p I am currently working at the 
          span.bold Psychology Lab 
          | of IIT Roorkee where I am responsible for developing a number of interactive virtual environments on Unity and Vizard 7. These environments are being used to collect behavioural and physiological data of participants for a number of various studies.

      li
        p I worked at 
          span.bold Razorpay 
          | as a Full-Stack Designer during the summers of 2019 where I designed and developed an 
          a(href="https://www.figma.com/file/dqH2lFZQsK2kbrXqssqPNO/Razorpay-Internship-Work?node-id=0%3A1") interactive section
          |  for their company website with the aim of recommending product solutions in accordance with their user needs.

      li
        p I also worked at the 
          span.bold Net-Zed Lab 
          | in IIT Roorkee as a research assistant during the winters of 2018. I worked under the supervision of 
          a(href="https://www.iitr.ac.in/departments/AR/pages/People+Rajasekhar_Elangovan.html") Dr. Elangovan Rajasekar
          |  in the area of Building Automation where I developed a 
          a(href="../projects/projects-smart-ac") prototype
          |  that automated the functioning of an AC remote Control.

    h2 Publications
    ul
      li 
        p 
          a(href="https://divyanshu-tiwari.herokuapp.com/projects/projects-two-shapes") Fostering Collaboration and Empathy Through Games 
          | in the Extended Abstracts of the 2020 Annual Symposium on Computer-Human Interaction in Play (CHI PLAY ’20 EA)

    h2 Awards and Honours
    ul
      li 
        b 2020 
        | - Selected among the top 50 finalists nationwide out of 3400 applications in the 
        span.bold 
          a(href="https://iai.nasscomfoundation.org/") Innovate for an Accessible India Challenge
        |  organised by NASSCOM Foundation and Microsoft India for our project 
        span.bold
          a(href="../projects/projects-coodle") Coodle
        | .

      li 
        b 2020
        | - Finalist in 
        span.bold
          a(href="https://chiplay.acm.org/2020/competition/") CHI PLAY 2020 Student Game Design Competition
        | .

      li 
        b 2020 
        | - Selected for 
        span.bold 
          a(href="https://www.indiainitiative.mit.edu/") MIT India Initiative
        | , a joint workshop by MIT and Harvard on Design, Technology and Social Innovation. I was among the 300 participants who were chosen nationwide out of the recieved 5000 applications.

      li 
        b 2020 
        | - Selected to represent IIT Roorkee in the Grand Finals of 
        span.bold 
          a(href="https://www.sih.gov.in/") Smart India Hackathon 2020
        | , a nationwide college level hackathon organised by the Government of India for our project 
        span.bold
          a(href="../projects/projects-coodle") Coodle
        | .

      li 
        b 2018 
        | - National Winner of the 
        span.bold
          a(href="https://nasaindia.co/destech") DesTech Challenge-18
        |  organized by NASA India for our project 
        span.bold
          a(href="../projects/projects-destech-challenge") Urban Trails
        | .

      li 
        b 2018 
        | - Winner of 
        span.bold 
          a(href="https://hackathon.sdslabs.co/") Syntax Error
        | , an intra-college hackathon organized by SDS Labs.