extends default.pug

block content
  .page
    h1 About
    hr.line
    
    p Hello, my name is Divyanshu Tiwari, and I am a 4th year undergraduate student of Architecture at the Indian Institute of Technology Roorkee, India. Broadly speaking, I am mainly interested in exploring new and creative ways of using technology.
    p For more details about me, please go through the rest of this page and website. You can also have a look at my
      a(href="https://itp.nyu.edu/shows/winter2017/into-the-darkness") resume
      |.

    h2 Research Interests
    p My research interest is primarily in the area of Human Computer Interaction (HCI) with a focus on Tangible Interfaces, Emergent Interfaces and Novel Interaction Techniques.

    h2 Academic Experience
    p 