extends page.pug

block content
  .page
    h1=title
    hr.line

    h2 Background
    p I was recruited at IMG as a designer last year. IMG is a group of around 40 tech enthusiasts that manage the central campus website and the intranet portal of Indian Institute of Technology, Roorkee.
    p All recruits go through a rigorous boot camp here, at IMG. In this, we are taught and given lectures about the new and existing technologies that are currently in use in our products. Assignments are given to us to complement and strengthen our learning.
    p During the 
      span.bold summer break 
      | of my 1st year, we were asked to design an 
      span.bold android 
      | mobile app for the 
      span.bold “Lost and Found” 
      | web app that was then currently in use by the campus 
      span.bold junta
      | .
    
    h2 Design Process
    h3 Problem Statement
    p You have something at one moment and another, you end up losing it. You don’t know where it went so your first instinct is to search the last place you remember yourself with that object. Or, maybe you are going somewhere, and you accidentally stumble upon someone else’s stuff. Your first instinct, in this case, is to search for possible clues that can help in identifying the person to whom the object belongs.

    ul.single
      li.image
        img(src="../blog-lost-and-found-01.png", alt="The essence of the platform", style="width: 75%")
        span The essence of the platform

    p Our goal, in this case, is to design a platform that brings the following two kinds of people together

    ul
      li People who have found an item, and
      li People who have lost an item,

    p so that they can mutually help each other out. The platform is specifically going to be tailored for the IIT Roorkee campus junta.

    h3 Understanding User
    p As stated in the problem statement itself, there are going to be two kinds of people that will use this platform:
    
    ul.single
      li.image
        img(src="../blog-lost-and-found-02.png", alt="Variety of users and their needs", style="width: 75%")
        span Variety of users and their needs
  
    ul
      li People who have 
        span.bold lost 
        | an item. They can be helped by letting them know that someone else has already found it or else let them report it so that in the case when someone finds it, he/she can report it back to them.
      li People who have 
        span.bold found 
        | an item. They can be helped by letting them know that there’s someone who has lost an object with a matching description or else let them report it on the platform so that the owner can find it.

    h3 Design Concept
   
    p The entire application is divided into two parts: a list of lost items and a list of found items.
      ul.single
        li.image
          img(src="../blog-lost-and-found-03.png", alt="The entire app is divided into two sections — Lost and Found", style="width: 75%" )
          span The entire app is divided into two sections — Lost and Found

    h3 Features
    ul
      li 
        span.bold Sign in: 
        | Each student has an institute id using which he/she would sign-in into the platform.
      li 
        span.bold Item Card: 
        | Each reported item is displayed as an expandable card on the screen. The card contains related information about the item such as its photo, name, category, date, place, contact and other details. Each card also has a visual indicator that indicates the status of the issue, i.e. whether it has been resolved or not.

      ul.single
        li.image
          img(src="../blog-lost-and-found-04.png", alt="Item Card — condensed and expanded view", style="width: 75%" )
          span Item Card — condensed and expanded view

      li 
        span.bold Recent Items: 
        | Displays a list of all the items that have been recently reported by the community.
      li 
        span.bold Reported Items: 
        | Displays a list of all the items that have been reported by the user. The user can directly search for his reported items from here without having to retype in the search bar.

      ul.single
        li.image
          img(src="../blog-lost-and-found-05.png", alt="Items reported by you can be searched directly from the item card itself", style="width: 75%" )
          span Items reported by you can be searched directly from the item card itself
      
      li 
        span.bold Notification: 
        | Contains notifications related to the items that have been reported by the user to help him keep track of all the concerned information. For example, the user will be notified in case someone claims an item reported by him.
      li 
        span.bold Bookmark: 
        | Contains a list of all items that have been bookmarked by the user for future reference.
      li 
        span.bold Report: 
        | Contains a list of all items that have been bookmarked by the user for future reference.
      li 
        span.bold Notify: 
        | To send an email (custom or automated) to the user who reported that item. Parallelly, a notification will also be sent to the user.

      ul.single
        li.image
          img(src="../blog-lost-and-found-06.png", alt="You can send emails to notify the user who reported the item", style="width: 75%" )
          span You can send emails to notify the user who reported the item

      li 
        span.bold Search bar: 
        | To search for items that have reported as either lost or found. Filters can be used to get more accurate search results.
      li 
        span.bold Edit: 
        | To search for items that have reported as either lost or found. Filters can be used to get more accurate search results.
      li 
        span.bold Share: 
        | To share an item with someone else. That user will get a notification about the same.
      li 
        span.bold Delete: 
        | Deletes the item that user reported as either lost or found.
      li 
        span.bold Mark as Resolved: 
        | Marks the issue as resolved for the reference of other people. Option available only for items reported by the user itself.
      
      ul.single
        li.image
          img(src="../blog-lost-and-found-07.png", alt="Visual indicators used in the app to indicate the status of an issue", style="width: 75%" )
          span Visual indicators used in the app to indicate the status of an issue
      
    h3 Flow
    ul.single
      li.image
        img(src="../blog-lost-and-found-08.png", alt="User flow", style="width: 150%" )
        span User flow
    
    h3 Deliverables
    ul.single
      li.image
        img(src="../blog-lost-and-found-09.png", alt="Application Screens", style="width: 100%")
        span Application Screens
      
    h2 Conclusion
    p It was my first time to do this whole thing on my own, and it took me about a month to design this app, starting from initial ideation to final screens. Creating this app was really fun, and it helped me in improving my UX flow, UI and interaction design skills in general.