extends page.pug

block content
  .page
    h1=title
    hr.line

    h2 Back Story
    p For this year's IMG T-shirts, I wanted to implement a unique design, something that's out of the ordinary. When I went for my internship in Bangalore, I attended a workshop on Data Visualization. Our instructor, 
      a(href="https://twitter.com/rasagy") Rasagy Sharma 
      | introduced us to data visualisation and how it can be used to make sense out of chaos.
    p One of the projects that he showed us was 
      a(href="https://github.com/rasagy/viznam") Viznam
      | . In this project, he experimented with names. For each name, he used an algorithm to map it out visually. Each name that was visualised looked similar since they originated from the same algorithm, but their exact geometry differed.

    ul.single
      li.image(style="width:70%")
        img(src="../blog-tshirt-and-data-viz-01.png", alt="Gemnam, a work by Rasagy Sharma")
        span One of his other works in Data visualization. You can check out his 
          a(href="https://agenerativeworld.tumblr.com/") website
          | .

    p I decided to work upon something similar. Hence for our T-Shirt design, I decided to visualise the names of each of our team members on it. In this article, I'll be sharing the experiments that I did in the process.

    h2 Who are we
    p IMG is a group of around 40 tech enthusiasts that manage and maintain the central campus website and the intranet portal of Indian Institute of Technology, Roorkee. We represent the technology front of the campus. We are a bunch of people filled with curiosity and an enthusiasm for building things with technology.
    p I wanted the result to reflect something similar. Hence, initially, I began my experimentation with diagrams that looked like a network of wires. The following section will walk you through my ideas and iterations.

    h2 Experimenting
    h3 Circular network diagrams
    p Initially, I experimented with circular network diagrams and bezier curves. I wanted to use a circular network as a visual representation of a network of wires.

    h4 Visual 1
    p Here, the name has been represented as a network of connected points on the circle. 26 points have been placed uniformly on the circumference of the circle, with each point corresponding to an alphabet. Starting with 'a' at the top, followed by the rest in a clockwise fashion. Here are some of the examples below: 
      a(href="https://editor.p5js.org/clinckzone/sketches/0sE62bbq1") Source

    ul.double
      li.image
        img(src="../blog-tshirt-and-data-viz-02.png", alt="Aleesha")
        span Aleesha
      li.image
        img(src="../blog-tshirt-and-data-viz-03.png", alt="Kunal")
        span Kunal
    
    ul.double
      li.image
        img(src="../blog-tshirt-and-data-viz-04.png", alt="Praduman")
        span Praduman
      li.image
        img(src="../blog-tshirt-and-data-viz-05.png", alt="Komal")
        span Komal

    h4 Visual 2
    p Here, all the letters of the name are connected to the first letter of the name. One drawback in such an arrangement is that you cannot figure out someone's name from the visualisation. Here are some of the examples below: 
      a(href="https://editor.p5js.org/clinckzone/sketches/hYMnoliOm") Source

    ul.double
      li.image
        img(src="../blog-tshirt-and-data-viz-06.png", alt="Divyanshu")
        span Divyanshu
      li.image
        img(src="../blog-tshirt-and-data-viz-07.png", alt="Gouranshi")
        span Gouranshi
    
    ul.double
      li.image
        img(src="../blog-tshirt-and-data-viz-08.png", alt="Praduman")
        span Praduman
      li.image
        img(src="../blog-tshirt-and-data-viz-09.png", alt="Shivansh")
        span Shivansh

    h3 Radar Diagrams
    h4 Visual 1
    p This visualization contains as many equiangular lines as the number of letters in the name. Length of each line is proportional to its distance from the alphabet "a". Joining all the endpoints of these lines gives you a polygon. Here are some examples below: 
      a(href="https://editor.p5js.org/clinckzone/sketches/ZZ6PCz2P5") Source

    ul.double
      li.image
        img(src="../blog-tshirt-and-data-viz-10.png", alt="Arpit")
        span Arpit
      li.image
        img(src="../blog-tshirt-and-data-viz-11.png", alt="Gouranshi")
        span Gouranshi
    
    ul.double
      li.image
        img(src="../blog-tshirt-and-data-viz-12.png", alt="Kunal")
        span Kunal
      li.image
        img(src="../blog-tshirt-and-data-viz-13.png", alt="Natansh")
        span Natansh

    h4 Visual 2
    p Same as before, but with a flat appearance, since it wasn't possible to print patterns that had a gradual gradation in their saturation. The black stoke represents the outer boundary of the IITR campus. Seems a childish idea to me. Here are some examples below: 
      a(href="https://editor.p5js.org/clinckzone/sketches/yOOoNas2_") Source

    ul.double
      li.image
        img(src="../blog-tshirt-and-data-viz-14.png", alt="Komal")
        span Komal
      li.image
        img(src="../blog-tshirt-and-data-viz-15.png", alt="Natansh")
        span Natansh
    
    ul.double
      li.image
        img(src="../blog-tshirt-and-data-viz-16.png", alt="Shivansh")
        span Shivansh
      li.image
        img(src="../blog-tshirt-and-data-viz-17.png", alt="Divyanshu")
        span Divyanshu

    h4 Visual 3
    p Instead of joining the endpoints of the line with straight lines, a single curved line has been used. Here are some of the examples below: 
      a(href="https://editor.p5js.org/clinckzone/sketches/msPQz86H") Source

    ul.double
      li.image
        img(src="../blog-tshirt-and-data-viz-18.png", alt="Aleesha")
        span Aleesha
      li.image
        img(src="../blog-tshirt-and-data-viz-19.png", alt="Mayank")
        span Mayank
    
    ul.double
      li.image
        img(src="../blog-tshirt-and-data-viz-20.png", alt="Gouranshi")
        span Gouranshi
      li.image
        img(src="../blog-tshirt-and-data-viz-21.png", alt="Divyanshu")
        span Divyanshu

    h4 Visual 4
    p Same as before just added some lines to the visual. I find that these lines give it a more professional look. Here are some examples below: 
      a(href="https://editor.p5js.org/clinckzone/sketches/zoiJQFcN") Source

    ul.double
      li.image
        img(src="../blog-tshirt-and-data-viz-22.png", alt="Shivansh")
        span Shivansh
      li.image
        img(src="../blog-tshirt-and-data-viz-23.png", alt="Kimaya")
        span Kimaya
    
    ul.double
      li.image
        img(src="../blog-tshirt-and-data-viz-24.png", alt="Nisarg")
        span Nisarg
      li.image
        img(src="../blog-tshirt-and-data-viz-25.png", alt="Praduman")
        span Praduman

    h2 Result
    p I posted these visualisations on our group's slack workspace and asked everyone to vote for the one that they liked the most. To my surprise, almost everyone gave a thumbs-up on my first iteration. Since in it, it was possible to create complex visualisations that nearly every time looked beautiful. Plus, it was also easier to understand its relation with your name. In practice, it isn't all about what your visualisation is expressing; a lot of it also depends on factors that aren't related to aesthetics such as scalability and inclusivity in this case.

    ul.single
      li.image(style="width: 50%")
        img(src="../blog-tshirt-and-data-viz-26.png", alt="Slack Thread")
        span Slack Thread

    h3 Mock-ups
    ul.double
      li.image
        img(src="../blog-tshirt-and-data-viz-27.png", alt="Rear")
        span Rear
      li.image
        img(src="../blog-tshirt-and-data-viz-28.png", alt="Front")
        span Front