extends page.pug

block content
  .page
    h1=title
    hr.line

    h2 Introduction
    p I naturally grew curious about understanding epidemics and answering several questions related to them because of the kind of situation we are currently living in. Questions like,

    ul
      li How does a pandemic start?
      li How can we predict their end?
      li How do you derive strategies for control?
      li How does it behave under such strategies?

    p I knew to be able to understand this, I will first have to understand how an epidemic is modelled mathematically. I searched on the internet for articles and came across a few useful ones that had explained simple mathematical models for the same.

    p This post is mainly about explaining how epidemics are modelled. I would really appreciate your feedback and ideas on the same and how this can be made more realistic.

    h2 Compartmental Models
    p In epidemiology, compartment models are used to simplify the modelling of epidemics. These models divide the entire population into compartments with everyone in the same compartment sharing the same characteristics. They represent the various stages through which each member of the community goes through in an outbreak. These models are especially useful in predicting the spread of a disease and its prevalence in society.

    p Diseases move in and out of a population in several ways. Some are like measles, once contracted, they're never contracted again. Some are like influenza, getting infected once doesn't confer long-lasting immunity. Hence, different compartment models are used for modelling different diseases since they require different compartments. To begin with, we'll start with a simple model to model a disease like measles.

    h2 S-I-R Model
    p Here, 
      span.bold S 
      | stands for 
      span.bold Susceptible
      | , 
      span.bold I 
      | stands for 
      span.bold Infected 
      | and 
      span.bold R 
      | stands for 
      span.bold Recovered
      | , and are the three compartments of the model. This model is a good approximation for infectious diseases which are transmitted from human to human, and where recovery confers lasting resistance. A typical member of the population moves from Susceptible to Infectious to Recovered.

    p.equation \S \rightarrow I \rightarrow R)

    p Let 
      span.bold S
      | , 
      span.bold I
      | , 
      span.bold R 
      | denote the total number of members in each of the three compartments and 
      span.bold N
      | , the total population. Assuming the dynamics of the epidemic to be much faster than that of birth and death, we can safely assume 
      span.bold N 
      | to be constant. We then have:

    p.equation \S + I + R = N,)
    p.equation \\dfrac{dS}{dt}+\dfrac{dI}{dt}+\dfrac{dR}{dt} = 0)

    p where t is the independent variable measured in days.

    p Let 
      span.bold β 
      | be the average number of contacts that an infected individual comes with each day. Not all of them are going to be susceptible. If we assume a homogeneous mixing of the population, then the fraction of contacts with susceptible is 
      span.bold S/N
      | , hence one single infected person infects 
      span.bold βS/N 
      | individuals, whereas 
      span.bold I 
      | of them infects 
      span.bold βSI/N 
      | susceptible individuals. Hence, the rate at which people are leaving the susceptible compartment is:

    p.equation \\dfrac{dS}{dt} = -\beta\dfrac{SI}{N})

    p Further, let 
      span.bold γ 
      | represents the fraction of infected people that are recovering each day. If there are 
      span.bold I 
      | infected people in total, then 
      span.bold γI 
      | people are recovering each day. Hence, the rate at which people are getting recovered is:

    p.equation \\dfrac{dR}{dt} = \gamma I)

    p Finally, rate at which people are getting infected each day is:

    p.equation \\dfrac{dI}{dt}=\beta\dfrac{SI}{N}-\gamma I)

    p The above three ordinary differential equations together describe the S-I-R model.

    h3 Basic reproduction rate
    p 
      span.bold β 
      | represents the average number of contacts that an infected individual comes with each day, whereas 
      span.bold 1/β 
      | represents the time between two such contacts. Also, 
      span.bold γ 
      | represents the fraction of infected people that recover each day, whereas 
      span.bold 1/γ 
      | represents the time it takes for an individual to fully recover. If we represent:

    p.equation \T_c=1/\beta,)
    p.equation \T_r=1/\gamma)

    p then,

    p.equation \\dfrac{T_c}{T_r} = \dfrac{\beta}{\gamma},)

    p represents the average number of contacts an infected individual comes with others before the infected has recovered. This ratio:

    p.equation \R_o=\dfrac{\beta}{\gamma},)

    p is called as the 
      span.bold Basic reproduction number
      | . Its role is extremely important in predicting epidemic outbreaks. In fact, if we rewrite the equation for infectious individuals as:

    p.equation \\dfrac{dI}{dt}={(R_o\dfrac{S}{N}-1)}\gamma I,)

    p it means that if:

    p.equation \R_o&gt;\dfrac{N}{S(0)},)

    p then:

    p.equation \\dfrac{dI}{dt}{(0)} &gt; 0,)

    p i.e., and there will be a proper epidemic outbreak with an increase in the number of infected population. On the contrary, if:

    p.equation \R_o &lt; \dfrac{N}{S{(0)}},)

    p then:

    p.equation \\dfrac{dI}{dt}{(0)} &lt; 0,)

    p i.e., the disease won't cause an epidemic outbreak regardless of the initial size of the susceptible population.

    h3 SIR model with vital dynamics
    p Our previous model was without the so-called vital dynamics i.e. it didn't take births and deaths(due to other reasons) into account. In this section, we'll tweak our model to account for the same.
    
    p Let 
      span.bold Λ 
      | be the rate at which new individuals are being born into the population and 
      span.bold μ 
      | be the fraction of the total population that dies each day. The rate at which people are dying is 
      span.bold μN
      | . The rate at which the total population 
      span.bold N 
      | is changing is then given by:

    p.equation \\Lambda-\mu N=\dfrac{dS}{dt}+\dfrac{dI}{dt}+\dfrac{dR}{dt},)

    p where,

    p We then have the following ordinary differential equations as our model:

    p.equation \\dfrac{dS}{dt}=\Lambda-\beta\dfrac{SI}{N}-\mu S,)
    p.equation \\dfrac{dI}{dt} = \beta\dfrac{SI}{N}-\gamma I-\mu I,)
    p.equation \\dfrac{dR}{dt} = \gamma I -\mu R,)

    h2 Elaborations on the basic SIR model
    p Now that we have understood how to go about modelling a single outbreak, we can far easily extend on our previous understanding to begin modelling more complicated and detailed scenarios. Consider this section more as an exercise for yourself in modelling epidemics with various compartments.

    h3 SIS model
    p It's a model for diseases that don't lead to any long-lasting immunity. You become susceptible again once you recover from the disease. Infections like common cold and influenza are modelled this way. It consists of two compartments, 
      span.bold Susceptible 
      | and 
      span.bold Infected
      | :

    p.equation \S\leftrightarrow I,)

    p and we have the following model:

    p.equation \\dfrac{dS}{dt}=-\beta\dfrac{SI}{N}+\gamma I,)
    p.equation \\dfrac{dI}{dt} = \beta\dfrac{SI}{N}-\gamma I)

    h3 MSIR model
    p Individuals born newly into the population have maternal antibodies passed onto them from their mother's placenta and are immune for a few months against certain diseases like measles. This is called passive immunity and we the denote its compartment by 
      span.bold M
      | (Maternally derived immunity):

    p.equation \M\rightarrow S\rightarrow I \rightarrow R)

    p Let's assume that the birth rate of the population is 
     span.bold Λ 
     | and 
     span.bold μ 
     | is the fraction of the total population that dies daily. If 
     span.bold 𝛿 
     | fraction of babies leave the immune compartment every day then we have the following model:

    p.equation \\dfrac{dM}{dt}=\Lambda-\delta I-\mu I,)
    p.equation \\dfrac{dS}{dt} = \delta I-\beta\frac{SI}{N} -\mu S,)
    p.equation \\dfrac{dI}{dt}=\beta\dfrac{SI}{N}-\gamma I-\mu I,)
    p.equation \\dfrac{dR}{dt}=\gamma I -\mu R,)

    h3 SEIR model
    p Generally, for some infections, infected people don't become infectious instantaneously. Instead, there's an incubation period over which he become infectious. The individual is neither susceptible nor infectious but is rather exposed to the infection, and we denote its compartment by E:

    p.equation \S \rightarrow E \rightarrow I \rightarrow R,)

    p Assuming that a fraction ε of exposed people become infectious every day, we have the following model:

    p.equation \\dfrac{dS}{dt} = -\beta\dfrac{SI}{N} -\mu S,)
    p.equation \\dfrac{dE}{dt}=\beta\dfrac{SI}{N} -\epsilon E-\mu E,)
    p.equation \\dfrac{dI}{dt}=\epsilon E-\gamma I-\mu I,)
    p.equation \\dfrac{dR}{dt}=\gamma I -\mu R,)