include mixins.pug

doctype html
html
  head
    
    block head
    title=title
    link(rel='stylesheet', href=stylesheet)
    meta(name="viewport" content="width=device-width, initial-scale=1.0")
    //- Importing font awesome for icons
    script(src="https://kit.fontawesome.com/57a1b63118.js" crossorigin="anonymous")
    
    block scripts
  
  body
    block header
    +header()
    
    block content
    block comments
    
    block footer
    +footer()