extends default.pug

block content

  .description-box
    .info-card
      img(src="divyanshu.png", alt="Here goes my image.")
      a.resume.white(href="../files/DivyanshuTiwari.pdf") Resume
    .description
      h1 Hello 👋!
      h3 I'm Divyanshu, and I love exploring new and creative ways of interacting with technology.
      hr
      p I am primarily interested in HCI research in the area of Tangible interfaces and interaction. I am actively looking for a research internship opportunity for 2022 summers.
      a.resume.blue(href="../files/DivyanshuTiwari.pdf") Resume

  .featured-projects
    h1 Featured Projects
    hr.line
    - var i = 0
    ul.project-list
      while i < 3
        +card(projects[i])
        - i += 1