extends default.pug

block content

  .description-box
    .info-card
      img(src="divyanshu.png", alt="Here goes my image.")
      a.resume.white(href="#") Resume
    .description
      h1 Hello 👋!
      h3 I'm Divyanshu, and I love creating and exploring new and creative ways of interacting with technology.
      a.resume.blue(href="#") Resume

  .featured-projects
    h1 Featured Projects
    hr.line
    - var i = 0
    ul.project-list
      while i < 3
        +card(projects[i])
        - i += 1