extends default.pug

block content

  .description-box
    .info-card
      img(src="divyanshu.png", alt="Here goes my image.")
      a.resume.white(href="../files/DivyanshuTiwari.pdf") Resume
    .description
      h1 Hello 👋!
      h3 I'm Divyanshu, and I love exploring new and creative ways of interacting with technology.
      hr
      p I am a final year Architecture student at IIT Roorkee, interested in HCI research centered around the development new and novel interfaces that go beyond the conventional screens.
      p This summer, I will be joining the 
        a(href="https://creativity.ucsd.edu/") Creativity Lab
        |  at 
        a(href="https://www.ucsd.edu/") UC San Diego
        |  as research intern, advised by 
        a(href="https://haijunxia.ucsd.edu/") Haijun Xia
        | . I am currently looking for a research internship opportunities for 2022.
      a.resume.blue(href="../files/DivyanshuTiwari.pdf") Resume

  .featured-projects
    h1 Featured Projects
    hr.line
    - var i = 0
    ul.project-list
      while i < 3
        +card(projects[i])
        - i += 1