doctype html
html
  head
    title Home
    link(rel='stylesheet', href='index.css')
  body
    .header
      img(src="", alt="logo")
      ul.page-list
        li Home
        li About
        li Research
        li Contact

    h1 Main Heading
    h2 Sub-heading

    .about
      img(alt="Saptrashi Kolay").kolay-photo
      p.kolay-description

    .featured-projects
      ul.project-list
        li 1
        li 2
        li 3