extends default.pug

//- Importing MathJax scripts for writing math euqations
block scripts
	script MathJax = {tex: {inlineMath: ['\\(', '\\)']}};
	script(src="https://polyfill.io/v3/polyfill.min.js?features=es6")
	script(type="text/javascript" id="MathJax-script" async src="https://cdn.jsdelivr.net/npm/mathjax@3/es5/tex-mml-chtml.js")

block comments
	.comment
		#disqus_thread
			script.
					(function() { // DON'T EDIT BELOW THIS LINE
					var d = document;
					var s = d.createElement('script');
					s.src = 'https://http-divyanshu-tiwari-herokuapp-com.disqus.com/embed.js';
					s.setAttribute('data-timestamp', +new Date());
					(d.head || d.body).appendChild(s);
					})();
				
		noscript Please enable JavaScript to view the
			a(href="https://disqus.com/?ref_noscript") comments powered by Disqus.