extends page.pug

block content
  .page
    h1=title
    hr.line

    h2 Why we built SSG?
    p IMG is a group of 40 tech enthusiasts that manage and maintain the central campus website and the intranet portal of Indian Institute of Technology, Roorkee.
    p The group used to receive a lot of requests from 
      span.bold professors 
      | of different departments to code 
      span.bold conference websites 
      | for them. Such tasks are quite repetitive and laborious; therefore, we decided to build a web app to automate this process. Using this, they’ll be able to make simple websites on their own without having to code.
    p I was solely responsible for handling the 
      span.bold design 
      | of this application.

    h2 Design Process
    h3 Understanding the user
    p Since I’m a college student, I get to interact with professors daily, hence I had an idea of their general psychology and how comfortable they are in using technology.
    
    ul.single
      li.image(style="width: 80%")
        img(src="../projects-static-site-generator-01.png", alt="Typical professor of IIT Roorkee")
        span Typical professor of IIT Roorkee

    p The average age of a professor is between 40–50. They aren’t as comfortable with technology as their students, nor do they have a good design sense when it comes to designing websites. Hence, they may not be used to the new ways of interacting with technology and might require design assistance frequently. This was kept in mind while designing interfaces and interactions for the app.

    h3 Deciding Use-Cases
    p Majority of requests that we received from professors were for developing conference websites. Hence we decided to specifically tailor our application for 
      span.bold conference websites
      | .
    p However, the application is flexible enough so that one can make simple text and image-based websites for different use cases such as:
    ul
      li Personal Website
      li Portfolio
      li Blog, etc.
    
    h3 Structure of Conference Website
    p I took reference of different conference websites from various IITs to understand how a typical conference website is structured.
    p Here are some pointers that I gained:
    ul
      li A conference website can be of a single page or span across multiple pages depending upon how big the conference is.
      li Each website is made up of multiple sections which are either spread across different pages or are present on the same page.
      li For most of them, the sections were more or less the same.
      li Each section consisted of nothing more than but plain text and a few images.
    
    ul.single
      li.image(style="width: 80%")
        img(src="../projects-static-site-generator-02.png", alt="Structure of a conference website")
        span Structure of a conference website

    h3 Design Concept
    p A website created using SSG will be a single page website consisting of multiple sections. Users will have the freedom to add, delete or (re)position a section as per their choice. Each of which will be made up of several repeating modular units. The user will have the freedom to choose from multiple templates for these sections.

    ul.single
      li.image(style="width: 110%").expand
        img(src="../projects-static-site-generator-03.png", alt="Concept behind the design")
        span Concept behind the design

    h3 Features
    ul 
      li 
        span.bold Drafts: 
        | Landing screen of the app which contains a list of all the previously created websites that are either complete or incomplete in reverse chronological order. From here, one can directly 
        span.bold preview
        | , 
        span.bold edit 
        | or 
        span.bold delete 
        | a site.
      
      li 
        span.bold Create: 
        | Creates a new blank website. To create a new website, you are first required to choose an appropriate design template for the site. You then proceed to fill in the details about the website like its name and a short description about it.

      li  
        span.bold Edit: 
        | Edit an existing website. This opens up the website editor where you can make changes.
        
      li 
        span.bold Website Editor: 
        | Place where you actually create/edit your new/existing website. Here, you can 
        span.bold add
        | , 
        span.bold delete
        | , 
        span.bold edit 
        | or 
        span.bold arrange 
        | different sections of the website. In each section also, you can 
        span.bold add
        | , 
        span.bold edit 
        | or 
        span.bold delete 
        | individual modules. While adding a new section to the site, you have the 
        span.bold freedom 
        | to select from several templates having different modules.

      li 
        span.bold Preview: 
        | Gives you a preview of the way the website will look like once published to the web.
      
      li 
        span.bold Download: 
        | Lets you download the website as an HTML+CSS package.

    h3 Interactions
    p 
      span.bold Interaction with a module: 
      | Hovering above the module of a section one can either add a new module to the right of it or delete it. Clicking on a module allows you to edit its contents and then either save or cancel the changes so made.

    ul.single
      li.image(style="width: 90%")
        img(src="../projects-static-site-generator-04.png", alt="Add/Delete module & Edit/Save/Cancel changes in a module")
        span Add/Delete module amp; Edit/Save/Cancel changes in a module

    p 
      span.bold Arranging Sections: 
      | Arrange tab present on the left side of the website editor is meant for rearranging the order of different sections of the website being constructed.

    ul.single
      li.image
        img(src="../projects-static-site-generator-05.png", alt="Rearranging sections")
        span Rearranging sections
    p 
      span.bold Adding a Section: 
      | Add tab present on the left side of the website editor is meant for adding new sections to the website being constructed.

    ul.single
      li.image
        img(src="../projects-static-site-generator-06.png", alt="Adding a section to the website")
        span Adding a section to the website

    h3 Flow
    ul.single
      li.image(style="width: 150%").expand
        img(src="../projects-static-site-generator-07.png", alt="Application flow")
        span Application flow

    h3 Deliverables
    ul.single
      li.image(style="width: 150%").expand
        img(src="../projects-static-site-generator-08.png")
    ul.single
      li.image(style="width: 150%").expand
        img(src="../projects-static-site-generator-09.png")
    ul.single
      li.image(style="width: 150%").expand
        img(src="../projects-static-site-generator-10.png", alt="Application screens")
        span Application screens