extends page.pug

block content
  .page
    h1=title
    hr.line

    p My role: I was responsible for design and developing the front-end of the application as well as the cards.

    h2 Introduction
    p With the rapid growth of technology in today’s era, it has become more important than ever that the current generation of students that are growing up, develop a preliminary understanding of how computers are programmed so as to develop an understanding relationship with their digital world. In a country like India that lacks proper access to desktop computers in the majority of its schools requires an alternative solution that can better adapt to its current economic condition. To overcome this problem, we developed ‘Coodle’, an accessible system that makes use of tangible physical cards to write programs. The system also consists of a mobile and web application that can capture the image of the program made by arranging the blocks. This image is then processed over the internet and the resulting compiled program is displayed on the screen as a visual output.

    ul.single
      li.image(style="width: 25%")
        img(src="../projects-coodle-01.png", alt="A sample Coodle program")
        span A sample Coddle program

    p There are several reasons as to why Coodle is an accessible solution. Firstly, India has been witnessing a boom in its internet accessibility due to telecommunication companies like Jio that are offering cheap internet access in rural areas. On top of this, there has also been a huge increase in the availability of cheap smartphones in the Indian market making it a common term even in the rural households. Lastly, since it makes use of paper cards, they can be reproduced at a much cheaper price.

    h2 User Interface
    p Traditional methods of teaching lay emphasis on a particular programming language (like C++) and its syntax rather than on problem-solving approaches. Also with interfaces like keyboards, there comes difficulties and challenges associated with group learning involving multiple participants. By using a tangible interface, we are able to reduce the cognitive burden on children by allowing them to select from a set of physical cards instead of having them to memorize syntax rules. This way they are able to think more about the problem that they are trying to solve rather than the tool that they are using. Furthermore, a tangible interface naturally promotes children to collaborate on different problems and projects together since they feel like they are playing together rather than studying. In such a collaborative environment any student that develops new skills, feels a sense of responsibility to share their skills with others.

    h3 Blocks
    p Children use these blocks to write their programs by arranging them in physical space. The Coodle language consists of simple geometrical commands like FORWARD, BACKWARD, RIGHT, LEFT, ROTATE and control statements like START, STOP, REPEAT, END REPEAT which when combined together can be used to draw out shapes and patterns on the screen. There were three main aspects that were taken care of while designing the blocks, mainly its colour, symbol and text. Each block has been assigned  a different symbol as per its function so that their function and usage is understandable visually. Also, blocks of different types have been assigned different colours so that visually it becomes easier to identify nested chunks of blocks. For example, START and STOP blocks are in red colour so that they can map out the entire territory within which the program resides.

    ul.single
      li.image(style="width: 50%")
        img(src="../projects-coodle-02.png", alt="Different Coodle blocks")
        span Different Coodle blocks

    h3 Mobile and Web application
    p The mobile application is meant for capturing snapshots of the blocks which is then processed and displayed as a visual output. The application offers three different modes: Learn, Draw and Play. Each mode is meant to offer children different learning experiences. Learn mode is meant to help children gradually learn the intricacies of Programming concepts through hand-on tutorials, while Play mode lets them apply their newly learnt skills in solving puzzles. Finally, the Draw mode is a sandbox meant for experimentation. To complement our mobile application, there’s also a corresponding web application which can be accessed using a desktop computer and can easily be used by connecting a webcam to the computer. It has all the features and functionalities as that of its mobile counterpart.
    
    ul.single
      li.image(style="width: 75%")
        img(src="../projects-coodle-03.png", alt="Coodle mobile application")
        span Coodle mobile application
    
    ul.single
      li.image(style="width: 75%")
        img(src="../projects-coodle-04.png", alt="Coodle web application")
        span Coodle web application