extends page.pug

block content
  .page
    h1=title
    hr.line

    h2 Overview
    p Myself along with two of my batchmates were announced as the national winners of the DesTech Challenge ‘18 organised by NASA. This article aims to explain the submission that we gave in as our entry for this challenge. For this challenge, We were required to design a digital platform to capture local urban trails through smartphones to let creatives capture, encapsulate and share their journey in a meaningful way.

    h2 About
    p DesTech Challenge is a unique national design competition in the sense that it aims to bring creative thinking and digital advancements in the built environment sector together. It challenges creative thinkers to explore opportunities within ‘Smart City’ systems, processes and engagement strategies.

    ul.single
      li.image
        img(src="../projects-destech-challenge-01.png", alt="The essence of Destech Challenge")
        span The essence of Destech Challenge
    
    p It sets itself apart from conventional design competitions by providing mentoring and research inputs from international experts to bring the best out of the participants. The challenge encourages participants to collaborate with fast-emerging digital sectors as well as local citizens to bring forward innovative ideas.

    h2 Challenge
    p Architects see the world with a creative lens. They capture their experiences through a range of mediums and build their ideas through inspirations that they come across in their environment.
    p What if they can encapsulate their experiences in a meaningful way and share it through the medium of a common platform? Imagine the possibilities generated with this exchange of thoughts to create new and innovative ideas!

    ul.single
      li.image
        img(src="../projects-destech-challenge-02.png", alt="Architects use inspiration to solve problems")
        span Architects use inspiration to solve problems

    p What if they can encapsulate their experiences in a meaningful way and share it through the medium of a common platform? Imagine the possibilities generated with this exchange of thoughts to create new and innovative ideas!
    
    ul.single
      li.image
        img(src="../projects-destech-challenge-03.png", alt="The platform aims to refine the source of inspiration into information")
        span The platform aims to refine the source of inspiration into information

    h3 Problem Statement
    p Create a conceptual design of a digital app to capture local urban trails through smartphones that would allow one to capture, encapsulate and share his journey in a meaningful way via a digital platform.
    p The app should give architects and students the ability to:

    ul
      li Dynamically capture a short journey of theirs on a map through geospatial technologies via smartphones.
      li Capture stories and input factual information about a place or a building.
      li Tag, classify and record onsite, specifics about the type of architecture, details and building elements.

    ul.single
      li.image
        img(src="../projects-destech-challenge-04.png", alt="Requirements for the platform")
        span Requirements for the platform
    
    ul
      li Provide broad themes of elements that the app could capture and organise.
      li Suggest how the use of multimedia such as photos, videos etc. could be organised and analysed to provide meaningful insight into the built environment.
      li Suggest visualisations to capture and represent the culture, people, and essence of a place through the app.
      li The ability for users to download and refine content through a smartphone onto a web interface.

    h3 Submission Requirement
    p Compile the various features of the app and visually explain their implementation via wire-frames.

    h2 Design Process
    p Before we started with anything else, we had to understand that for whom are we designing our app. Answering this fundamental question gives off a way to understanding their needs and problems leading to features that we would like to have in our application.

    h3 Understanding User
    p As per the brief, architects and students are our target audience for this application. A large part of their work and lifestyle revolves around travelling and visiting new or the same old places. With travel, we not only refer to travelling to far off sites but also to the ones that are local to them. For each such visit, the reason might be different:

    ul
      li A lot of times, architects are required to go for 
        span.bold site visits 
        | at various stages of their ongoing projects. These visits are essential for several reasons: Firstly, they help the architect to become familiar with the site. Secondly, a lot of ideas and creativity pops up onsite. Thirdly, an architect is not only responsible for his design but its proper implementation and management also. Hence these site visits allow him to observe a project’s progress carefully.   
      li Students also go for 
        span.bold site visits 
        | for similar reasons. They don’t do it for management purposes though since their projects are generally for their design studios and hence aren’t implemented in real life.
      li One may also travel for 
        span.bold documentation 
        | purposes. Architectural documentation aims to understand the logical reasons behind the implementation of various visual and non-visual elements in the design to complement its functionality.
      li Search for 
        span.bold inspiration 
        | may also drive such pursuits.
      li It may also be a 
        span.bold casual exploration 
        | of a new built environment to learn about and experience new cultures, people, architectural styles, etc.

    h3 Needs and Problems
    p To better empathise with our users, we started off by imagining ourselves on a similar journey. Through this exercise, we looked for their needs and potential problems that may be solved using technology:

    ul
      li What are the places he/she has explored, and what yet remains to explore?
      li How should one go about finding new places and built forms to visit as per their interests?
      li What is the accessibility of a location from one’s desired place of interest?
      li What are the local means of transportation available to one?
      li What are some intermediate attractions that he/she might be interested in checking out?
      li What are the different kinds of architectural elements present in a building?
      li What is the architectural style of a built form?
      li How vital a built-form is from an architectural point of view?
      li What are the ways in which one can share his ideas, opinions, knowledge, insights about a particular topic/experience?
      li How can one know about the ideas, experiences, opinions, insights of others?
    
    h3 Design Concept
    p Day to day activities involves the creation of data in huge bulks which in turn brings out the need to store, retrieve, edit, organise, share and extract useful information out of it. To deliver an exceptional experience, we aim to use data capturing and processing techniques to produce upon the following:

    ul.single
      li.image
        img(src="../projects-destech-challenge-05.png", alt="Core concepts behind the making")
        span Core concepts behind the making

    ol
      li 
        span.bold Capture 
        | videos, photos, and text in the form of posts and articles.
      li 
        span.bold Encapsulate 
        | and 
        span.bold organise 
        | the same to provide meaningful insights about a place or built form along with receiving ideas on it from others.
      li 
        span.bold Automated processing 
        | of this data to automatically tag and classify user-generated content.
      li 
        span.bold Search 
        | for information that has been shared by other users under various categories.
      li 
        span.bold Visualisations 
        | to provide insights into the popularity, history, density, walkability, accessibility, mobility and weather of a place or a building.
      li 
        span.bold Motivating 
        | users to explore beyond what they have already seen and experienced.
      li Finding and planning 
        span.bold optimised 
        | routes by one’s interest and previous interaction with the application.
    
    h3 Features
    p 
      span.bold Capture: 
      | Capture data about the site or place in the form of photos, videos, and text and then post it as a new 
      span.bold tile 
      | to share it with the rest of the world.

    p
      span.bold Feed: 
      | Captured data is first organised and then displayed in the form of a post consisting of pictures, videos, and text. Posts are shown in the feed, following one’s interest and people whom he/she follows in the community. Here we have termed a 
      span.bold “Post” 
      | as 
      span.bold “Tile” 
      | since we are designing in the context of architecture specifically.

    ul.single
      li.image
        img(src="../projects-destech-challenge-06.png", alt="Process captured data to generate user feed")
        span Process captured data to generate user feed
      
    ul
      li A tile can be shared or given stars by users in case they find it useful. This way, the post gains popularity gets spread to other users of the community.
      li The visual content of a tile(pictures and videos) is uploaded on a cloud server which then analyses it for architectural elements present in it using Machine Learning algorithms. Detected parts are then processed together to classify the type of architecture it belongs to.
      li Each tile has a comment section to promote discussion within the community.

    ul.single
      li.image
        img(src="../projects-destech-challenge-07.png", alt="Automated tagging and classification of elements")
        span Automated tagging and classification of elements

    p 
     span.bold Search: 
     | A user can search for information under various categories using this feature. The result of a query depends on the category a user wants to search in and the keyword that he/she has entered. The different categories include-Trending, Latest, People, Places, Elements, Hashtags.

    ul.single
      li.image
        img(src="../projects-destech-challenge-08.png", alt="The platform searches for matching keywords in each of the given categories")
        span The platform searches for matching keywords in each of the given categories

    p 
    span.bold Map: 
    | Contains a search feature to let you search for different places on the map and a suggestion area to suggest new locations for exploration. Once the user selects his place of interest, he can:
    
    ul
      li Start a journey to the chosen site. The app then advises the user several optimised routes to reach his destination following his preferred mode of transportation and intermediate areas of interest.

      li Find out more interesting insights about the place in a visual manner through the aid of maps. These maps have useful data already mapped on them.
    
    ul.single
      li.image
        img(src="../projects-destech-challenge-09.png", alt="Generated routes as per user interests and its length")
        span Generated routes as per user interests and its length

    ul.single
      li.image
        img(src="../projects-destech-challenge-10.png", alt="Map based data visualizations")
        span Map based data visualizations

    p
    span.bold Explorer Mode:
    | Activating explorer mode darkens all the areas on the map that currently remain unexplored by the user, showing him only those that have been explored by him.

    ul.single
      li.image
        img(src="../projects-destech-challenge-11.png", alt="Explorer mode")
        span Explorer mode

    p 
    span.bold Profile Screen: 
    | Profile screen is made up of three sections, namely- facade, notification, and messages. Facade sections consist of tiles that have been posted by the user in reverse chronological order. Travellers can personally connect on chat with other users present on the platform using the messaging section. Users are regularly notified about the new happenings around them to which they have subscribed via the notification section.

    ul.single
      li.image
        img(src="../projects-destech-challenge-12.png", alt="Profile screen")
        span Profile screen

    h3 Flow

    ul.single
      li.image(style="width: 120%").expand
        img(src="../projects-destech-challenge-13.png", alt="Application flow")
        span Application flow

    h3 Screens

    ul.single
      li.image(style="width: 150%").expand
        img(src="../projects-destech-challenge-14.png", alt="Application Screens")
        span Application Screens

    h2 Conclusion
    p This was the first time that I participated in NASA. Since I had prior experience of designing for the digital media, my team had an upper hand in the competition and our major challenge was to come up with features that are unique and feasible at the same time. Participating in this competition not only improved my product design skills in general but also made me more knowledgable in the domain of architecture itself.