.about
  width: 1024px;
  margin-bottom: 24px;
  h2
    margin-bottom: 0px;

.contact
  width: 1024px;
  margin-bottom: 100px; 
  .location
    display: grid;
    grid-template-columns: 1fr 1.75fr;
    grid-template-rows: auto;
    p
      span
        display: block;
        font-weight: 700;
        color: black;
    #map
      width: auto;
      height: 350px;
      background-color: grey;