@import "default"

.page
  width: 800px;
  h1
    text-align: center;
  p
    margin-top: 12px;
  .equation
    font-size: 19px;
    text-align: center;
    color: #424242;
  .double, .single
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
      list-style: none;
      margin-top: 24px;
      padding-left: 0px;
    .image, .video
      display: flex;
      flex-direction: column;
      align-items: center;
      margin: 0 24px;
      iframe
        width: 100%;
      img
        width: 100%;
      span
        margin-top: 12px; 
        color: #8c8c8c;
        font-size: 14px;
    .expand
      position: relative;
      margin-left: -50vw; 
      margin-right: -50vw;
  .bold
    font-weight: 500;
    color: #424242;

.commentbox
  width: 800px;
  margin-top: 20px;

@media screen and (max-width: 480px)
  .page
    width: 90vw;
    ul
      padding-left: 20px;
    .double, .single
      flex-direction: column;
      .image, .video
        margin: 0;
        width: 90vw !important;
        img
           width: 100% !important;
  
  .commentbox
    width: 90vw;
    margin-top: 20px;