.project
  width: 1024px;
  h1
    text-align: center;
  h2
    margin-bottom: 0px;
  img 
    margin-top: 10px;
    margin-left: 10px;
  ul
    margin-bottom: 36px;
    li
      margin-bottom: 8px;
      color: #696969;
      font-size: 14px;
      text-align: justify;