.project-list
  display: grid;
  width: 1024px;
  grid-template-columns: 1fr 1fr 1fr;
  list-style: none;
  margin-top: 0;
  padding-left: 0;
  a
    text-decoration: none;
    color: #696969;
    margin-right: 18px;
    margin-top: 0px;
    margin-bottom: 36px;
    .card
      border-radius: 3px; 
      border: 1px solid #efefef;
      box-shadow: 11px 20px 31px 0px rgba(0,0,0,0.10);
      transition: all 0.1s;
      img
        position: relative;
        left: 0.5px;
        width: 100%;
        border-radius: 3px 3px 0 0;
      h3
        margin: 6px 14px 0 14px;
      span 
        margin-left: 14px;
        font-size: 10px;
        font-weight: 700;
        color: #5183f5;
        text-transform: uppercase;
        letter-spacing: 1px;
      .date
        margin-right: 14px;
        margin-bottom: 10px;
        text-align: right;
        font-size: 14px;
        font-weight: 600;
        color: #5183f5;
    p
        margin: 8px 14px 14px 14px;
    .card:hover
      transform: scale(1.02);

@media screen and (max-width: 480px)
  .project-list
    width: 100vw;
    grid-template-rows: 1fr 1fr 1fr;
    grid-template-columns: 1fr;
    a
      margin: 0 18px 18px 18px;